USE [master]
GO
/****** Object:  Database [blogDB1]    Script Date: 4/12/2018 11:34:00 PM ******/
CREATE DATABASE [blogDB1]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [blogDB1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [blogDB1]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 4/12/2018 11:34:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blogs]    Script Date: 4/12/2018 11:34:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blogs](
	[BlogId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[BannerImgUrl] [nvarchar](max) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[PublishToDate] [datetime] NOT NULL,
	[User_BlogUserId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Blogs] PRIMARY KEY CLUSTERED 
(
	[BlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogUsers]    Script Date: 4/12/2018 11:34:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogUsers](
	[BlogUserId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[Lastname] [nvarchar](max) NULL,
	[Username] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[EmailId] [nvarchar](max) NULL,
	[Role] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.BlogUsers] PRIMARY KEY CLUSTERED 
(
	[BlogUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Blogs] ON 

INSERT [dbo].[Blogs] ([BlogId], [Title], [BannerImgUrl], [Content], [Status], [PublishToDate], [User_BlogUserId]) VALUES (1, N'Developing Application in ASP.NET', N'C:/images/1.jpg', N'This is sample content for rich text editor', N'Draft', CAST(N'2012-12-12T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Blogs] ([BlogId], [Title], [BannerImgUrl], [Content], [Status], [PublishToDate], [User_BlogUserId]) VALUES (5, N'Front End Development', N'c:/images/2.jpg', N'This is front end development blog ', N'ReadyToPublish', CAST(N'2012-12-12T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Blogs] OFF
SET IDENTITY_INSERT [dbo].[BlogUsers] ON 

INSERT [dbo].[BlogUsers] ([BlogUserId], [FirstName], [Lastname], [Username], [Password], [EmailId], [Role]) VALUES (1, N'Vipul', N'Zambare', N'vz001', N'abc123', N'vz@gmail.com', N'admin')
INSERT [dbo].[BlogUsers] ([BlogUserId], [FirstName], [Lastname], [Username], [Password], [EmailId], [Role]) VALUES (2, N'John', N'Doe', N'john_doe', N'12345', N'john@gmail.com', N'editor')
SET IDENTITY_INSERT [dbo].[BlogUsers] OFF
/****** Object:  Index [IX_User_BlogUserId]    Script Date: 4/12/2018 11:34:01 PM ******/
CREATE NONCLUSTERED INDEX [IX_User_BlogUserId] ON [dbo].[Blogs]
(
	[User_BlogUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Blogs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Blogs_dbo.BlogUsers_User_BlogUserId] FOREIGN KEY([User_BlogUserId])
REFERENCES [dbo].[BlogUsers] ([BlogUserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Blogs] CHECK CONSTRAINT [FK_dbo.Blogs_dbo.BlogUsers_User_BlogUserId]
GO
USE [master]
GO
